body {
  background: #0d1117;
  color: white;
  font-family: Arial;
  text-align: center;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

canvas {
  width: 100%;
  height: 150px;
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 10px;
}

button {
  padding: 10px 20px;
  margin-top: 20px;
  background: #238636;
  color: white;
  border: none;
  font-size: 18px;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #2ea043;
}
